@page
@model MOCHA.Pages.DeniedModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>アクセス拒否</title>
</head>
<body>
    <h1>アクセスが拒否されました</h1>
</body>
</html>
