@page
@model MOCHA.Pages.LogoutModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>ログアウト</title>
</head>
<body>
    <form method="post" asp-page="/Logout">
        <button type="submit">ログアウト</button>
    </form>
</body>
</html>
